* {
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
}

main {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-rows: repeat(10, 1fr); */
  /* height: 90vh; */
  place-items: center;
  max-width: 1200px;
  font-family: sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 992px){
  main {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (max-width: 667px){
  main {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 425px){
  main {
    grid-template-columns: 1fr 1fr;
  }
}

.character {
  text-align: center;
  align-self: start;
  transition: .5s;
  background-color:blanchedalmond;
  padding: 30px 10px 0 10px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #333;
}

.character:hover {
  transition: .5s;
}

.character.stats-open:hover {
  background-color: white;
  z-index: 1;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: auto; 
}

.circle {
  background-color: #FFD79A;
  /* background-color: #DEB381; */
  margin: auto;
}

.gryffindor .circle, .gryffindor.house:before {
  background-color: #d30004;
}

.hufflepuff .circle, .hufflepuff.house:before {
  background-color: #f2b800;
}

.ravenclaw .circle, .ravenclaw.house:before {
  background-color: #004e80;
}

.slytherin .circle, .slytherin.house:before {
  background-color: #005416;
}

.none.house:before {
  background-color: #FFD79A;
}


.student .wrapper, .type-stat.student:before {
  background-color: #333;
}

.professor .wrapper, .type-stat.professor:before {
  background-color: lightgray;
}

.magical-creature .wrapper, .type-stat.magical-creature:before {
  background-color: #02857D;
}

.ministry .wrapper, .type-stat.ministry:before {
  background-color: purple;
}

.ghost .wrapper, .type-stat.ghost:before {
  background-color: #A2CDC5;
}

.pet .wrapper, .type-stat.pet:before {
  background-color: #AA0056;
}

.auror .wrapper, .type-stat.auror:before {
  background-color: #D9A500;
}

.portrait .wrapper, .type-stat.portrait:before {
  background-color: dimgray;
}

.muggle .wrapper, .type-stat.muggle:before {
  /* background-color: peru; */
  background-color: #A77E40;
}

.house-elf .wrapper, .type-stat.house-elf:before {
  background-color: #6E5699;
}

.founder .wrapper, .type-stat.founder:before {
  background-color: white;
}

.staff .wrapper, .type-stat.staff:before {
  /* background-color: brown; */
  background-color: #8D0000;
}

.death-eater .circle {
  border: 5px solid #81A400;
}

.quidditch .wrapper {
  border: 5px solid #DD889F;
}

.wrapper {
    position: relative; 
    height: 60px;
    width: 60px;
    margin: auto;
    display: grid;
    border-radius: 50%;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #333;
  font-family: 'Mystery Quest', cursive; 
}

.name {
  font-size: 14px;
  min-height: 32px;
}

.ledgend {
  max-width: 1000px;
  margin: 0 auto 40px auto;
  border: 2px solid #333;
  padding: 20px;
  font-family: arial, sans-serif;
  font-size: 16px;
}

.stats {
  list-style: none;
  padding: 0 0 0 15px;
  font-size: 14px;
  text-align: left;
}

.stats li {
  position: relative;
  text-transform: capitalize;
}

.mentions {
  font-weight: bold;
  text-align: center;
}

.death-eater-stat:before, .quidditch-stat:before, .type-stat:before, .house:before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  left: -15px;
  top: 4px;
  border-radius: 50%;
}

.death-eater-stat:before {
  background-color: #81A400;
}

.quidditch-stat:before {
  background-color: #DD889F;
}

.type-stat:before {
  background-color: purple;
}

.stats-wrapper {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, height 0s, opacity 0.5s linear;
}

.stats-display {
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, height 0s, opacity 0.5s linear;
}

